/*---------------------------------------------*/
/*COLOR SCHEME*/
.font_white{
    color: white;
}
.white{
    background-color: white;
}
.pink{
    background-color: #E88B74;
}
.center{
    text-align: center;
}
.border_p{
    border-radius: 25px;
    border: 1px solid #E88B74;
}
.border_w{
    border-radius: 25px;
    border: 1px solid white;
}
.margin_b{
    margin-bottom: 25px;
}
.margin{
    margin: 10px;
}
.padding{
    padding: 25px;
}
/*---------------------------------------------*/
/*Semantic Tags*/
body{
    background-image: url("backgroundimg.jpg");
}
h1 {
    text-align: center;
    text-shadow: 2px 2px #FFF8DC;
    font-family: "Nunito Sans", sans-serif;
}
h3{
    border-radius: 25px;
    text-shadow: 2px 2px #D2B48C;
    font-family: "Nunito Sans", sans-serif;
}
p{
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    color: #636363;
}
a:link{
    color: #E88B74;
}
a:visited{
    color: black;
}
img{
    border-radius: 50%;
    float: right;
    overflow: hidden;
    width: 10%;
    height: auto;
}
/*for Phones*/
.p1{
    text-align: left;
}
.p2{
    text-align: left;
}
.p3{
    text-align: left;
}
/*For Tablets*/
@media only screen and (min-width: 768px) and (max-width: 991px){
.p1{
    text-align: left;
}
.p2{
    text-align: right;
}
.p3{
    text-align: center;
}}
/*For Desktop*/
@media only screen and (min-width: 992px){
.p1{
    text-align: left;
}
.p2{
    text-align: center;
}
.p3{
    text-align: right;
}}

